ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  font-family: sans-serif;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #7a7a7a;
}

body {
  background-color: #ebebeb;
}

#nav a.selected:link, a.selected:visited{
    display: block;
    background-color: #ff8000;
    color: #fff;
}

#page-wrap {
  width: 1280;
  margin: 0 auto;
  border-style: solid;
}

/*Search bar*/
.search input[type=text] {
    width: 400px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    background-color: white;
    background-image: url("../img/search.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
