.ss-item .ss-item-text{
    background-color:#272727;
    text-align:center;
    padding: 10px 20px;
    border-radius:0px 0px 0px 0px;
    font-weight:bold;
}
.ss-item .ss-item-text, .ss-item img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:750px;
}

.ss-item img:hover{
    opacity:0.8;
    filter: alpha(opacity=80);
}
